Repository shadcn-ui/ui, pull requests merged in 2023-09, with the labels that each got.

#1447 docs(dark-mode): add missing prop to ThemeProvider
  apps/www/content/docs/dark-mode/next.mdx
Labels: documentation, area: www

#1089 fix(cli): deduplicate classNames in applyColorMapping
  .changeset/tricky-cooks-appear.md
  packages/cli/src/utils/transformers/transform-css-vars.ts
  packages/cli/test/utils/__snapshots__/transform-css-vars.test.ts.snap
  packages/cli/test/utils/apply-color-mapping.test.ts
  packages/cli/test/utils/transform-css-vars.test.ts
Labels: bug, area: cli

#1466 Change file extension correctly for typescript files
  .changeset/hot-comics-smell.md
  packages/cli/src/commands/add.ts
Labels: bug, area: cli

#1033 feat: support adding all components via CLI
  .changeset/perfect-walls-dress.md
  packages/cli/src/commands/add.ts
Labels: enhancement, area: cli

#973 feat(cli): add overwrite confirmation for existing components
  .changeset/tidy-cows-poke.md
  packages/cli/src/commands/add.ts
Labels: enhancement, area: cli

#1554 feat(cli): do not ask for confirmation
  .changeset/nice-icons-battle.md
  packages/cli/src/commands/add.ts
Labels: enhancement, area: cli

#1555 docs(cli): update link to documentation
  .changeset/hot-dogs-melt.md
  packages/cli/README.md
Labels: documentation, area: cli

#1370 fix(www): table overflow
  apps/www/registry/default/ui/table.tsx
  apps/www/registry/new-york/ui/table.tsx
Labels: bug, component: table
