Repository shadcn-ui/ui, pull requests merged in 2023-10, with the labels that each got.

#1660 feat: export portal and overlay for alert-dialog, dialog and sheet
  apps/www/registry/default/ui/alert-dialog.tsx
  apps/www/registry/default/ui/dialog.tsx
  apps/www/registry/default/ui/sheet.tsx
  apps/www/registry/new-york/ui/alert-dialog.tsx
  apps/www/registry/new-york/ui/dialog.tsx
  apps/www/registry/new-york/ui/sheet.tsx
Labels: enhancement, component: alert dialog, component: dialog, component: sheet

#1646 docs: language example - remove copy-pasted text artifacts
  apps/www/registry/default/example/combobox-form.tsx
Labels: typo, area: examples

#1662 minify cli
  .changeset/sweet-plums-serve.md
  packages/cli/tsup.config.ts
Labels: enhancement, area: cli

#1752 docs(www): add fonts docs
  apps/www/content/docs/installation/next.mdx
  apps/www/registry/default/ui/dialog.tsx
  apps/www/registry/new-york/ui/dialog.tsx
Labels: documentation, area: www

#1755 docs(www): add astro dark mode implementation
  apps/www/config/docs.ts
  apps/www/content/docs/dark-mode/astro.mdx
  apps/www/content/docs/dark-mode/index.mdx
Labels: documentation, area: www

#1707 style: use space instead of tab on config fixture
  .changeset/mean-badgers-grab.md
  packages/cli/src/utils/templates.ts
  packages/cli/test/fixtures/next/tailwind.config.js
Labels: area: cli, fix

#1661 docs: remove unused imports
  apps/www/registry/default/example/alert-demo.tsx
  apps/www/registry/default/example/alert-destructive.tsx
  apps/www/registry/default/example/dropdown-menu-radio-group.tsx
Labels: area: www, fix, automerge

#1642 docs(install): Clarify & Match tsconfig Edits
  apps/www/content/docs/installation/astro.mdx
  apps/www/content/docs/installation/gatsby.mdx
  apps/www/content/docs/installation/vite.mdx
Labels: documentation, area: www, automerge

#1247 Support tailwind.config.ts
  .changeset/sweet-worms-fix.md
  apps/www/content/docs/components/accordion.mdx
  apps/www/content/docs/installation/manual.mdx
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/templates.ts
  packages/cli/test/commands/init.test.ts
  packages/cli/test/fixtures/next/tailwind.config.js
  tailwind.config.cjs
  templates/next-template/tailwind.config.js
Labels: enhancement, area: cli, automerge

#1628 Fix support rule in `site-header.tsx`
  apps/www/components/site-header.tsx
  templates/next-template/components/site-header.tsx
Labels: automerge

#1606 fix(components): remove className from dialog portals
  apps/www/registry/default/ui/sheet.tsx
  apps/www/registry/new-york/ui/sheet.tsx
Labels: bug, component: sheet, automerge

#1610 docs: ✏️ Add defaultValues to input in form examples
  apps/www/registry/default/example/input-form.tsx
  apps/www/registry/new-york/example/input-form.tsx
Labels: area: examples, fix, automerge

#1548 fix(components): fix text wrapping issue in buttons
  apps/www/registry/default/ui/button.tsx
  apps/www/registry/new-york/ui/button.tsx
Labels: enhancement, component: button, automerge

#1486 fix(docs): present useForm when copy form
  apps/www/content/docs/components/form.mdx
Labels: documentation, area: www, automerge

#1264 docs: add missing tailwind config in Astro install
  apps/www/content/docs/installation/astro.mdx
Labels: documentation, area: www, automerge, framework: astro

#496 fix(accordion): remove invalid collapsible prop
  apps/www/content/docs/index.mdx
Labels: documentation, area: www, automerge

#1696 fix: updated error msg for jsconfig in cli
  .changeset/smart-pants-smile.md
  packages/cli/src/utils/get-config.ts
Labels: enhancement, area: cli, automerge

#1731 fix(calendar): showOutsideDays=false
  apps/www/registry/default/ui/calendar.tsx
Labels: bug, component: calendar

#1590 fix(bunx): bunx scripts run using bun instead of node
  apps/www/lib/rehype-npm-command.ts
Labels: documentation, area: www, automerge

#1569 fix(example): Prevent hydration error in music example
  apps/www/app/examples/music/components/podcast-empty-placeholder.tsx
Labels: bug, area: examples, automerge

#1515 docs(scroll-area): add example for horizontal scroll area
  apps/www/__registry__/index.tsx
  apps/www/content/docs/components/scroll-area.mdx
  apps/www/registry/default/example/scroll-area-horizontal-demo.tsx
  apps/www/registry/default/ui/scroll-area.tsx
  apps/www/registry/new-york/example/scroll-area-horizontal-demo.tsx
  apps/www/registry/new-york/ui/scroll-area.tsx
  apps/www/registry/registry.ts
Labels: component: scroll area, area: examples, automerge

#1551 Refactor(icon.tsx) twitter icon update to latest version X icon
  apps/www/components/icons.tsx
  apps/www/components/site-header.tsx
  templates/next-template/components/icons.tsx
  templates/next-template/components/site-header.tsx
Labels: area: www, automerge

#1788 Fix combobox examples using labels as value
  apps/www/content/docs/components/combobox.mdx
  apps/www/registry/default/example/combobox-demo.tsx
  apps/www/registry/default/example/combobox-dropdown-menu.tsx
  apps/www/registry/default/example/combobox-popover.tsx
  apps/www/registry/new-york/example/combobox-demo.tsx
  apps/www/registry/new-york/example/combobox-dropdown-menu.tsx
  apps/www/registry/new-york/example/combobox-popover.tsx
Labels: area: www, area: examples, automerge

#1798 docs(card): remove unused line #1652
  apps/www/registry/default/example/card-demo.tsx
  apps/www/registry/new-york/example/card-demo.tsx
Labels: area: examples, automerge
