Repository shadcn-ui/ui, pull requests merged in 2023-01, with the labels that each got.

#2 fix: minor typos
  apps/www/components/ui/avatar.tsx
  apps/www/components/ui/tabs.tsx
  templates/next-template/components/ui/avatar.tsx
  templates/next-template/components/ui/tabs.tsx
Labels: bug, area: component

#13 Update installation.mdx
  apps/www/content/docs/installation.mdx
Labels: documentation, area: www

#31 feat: navigation-menu
  README.md
  apps/www/components/examples/index.tsx
  apps/www/components/examples/navigation-menu/demo.tsx
  apps/www/components/main-nav.tsx
  apps/www/components/mobile-nav.tsx
  apps/www/components/search.tsx
  apps/www/components/site-header.tsx
  apps/www/components/ui/navigation-menu.tsx
  apps/www/config/docs.ts
  apps/www/content/docs/primitives/alert-dialog.mdx
  apps/www/content/docs/primitives/button.mdx
  apps/www/content/docs/primitives/collapsible.mdx
  apps/www/content/docs/primitives/dialog.mdx
  apps/www/content/docs/primitives/dropdown-menu.mdx
  apps/www/content/docs/primitives/navigation-menu.mdx
  apps/www/content/docs/primitives/select.mdx
  apps/www/contentlayer.config.js
  apps/www/package.json
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Labels: area: component, component: navigation menu

#43 Fix: Issue 42: Use light text in TabsPrimitive.Trigger when dark mode
  apps/www/components/ui/tabs.tsx
Labels: area: component, component: tabs
