Repository shadcn-ui/ui, pull requests merged in 2023-06, with the labels that each got.

#649 docs: add latest to cli
  apps/www/content/docs/changelog.mdx
  apps/www/content/docs/cli.mdx
  apps/www/content/docs/components/accordion.mdx
  apps/www/content/docs/components/alert-dialog.mdx
  apps/www/content/docs/components/alert.mdx
  apps/www/content/docs/components/aspect-ratio.mdx
  apps/www/content/docs/components/avatar.mdx
  apps/www/content/docs/components/badge.mdx
  apps/www/content/docs/components/button.mdx
  apps/www/content/docs/components/calendar.mdx
  apps/www/content/docs/components/card.mdx
  apps/www/content/docs/components/checkbox.mdx
  apps/www/content/docs/components/collapsible.mdx
  apps/www/content/docs/components/command.mdx
  apps/www/content/docs/components/context-menu.mdx
  apps/www/content/docs/components/data-table.mdx
  apps/www/content/docs/components/dialog.mdx
  apps/www/content/docs/components/dropdown-menu.mdx
  apps/www/content/docs/components/form.mdx
  apps/www/content/docs/components/hover-card.mdx
  apps/www/content/docs/components/input.mdx
  apps/www/content/docs/components/label.mdx
  apps/www/content/docs/components/menubar.mdx
  apps/www/content/docs/components/navigation-menu.mdx
  apps/www/content/docs/components/popover.mdx
  apps/www/content/docs/components/progress.mdx
  apps/www/content/docs/components/radio-group.mdx
  apps/www/content/docs/components/scroll-area.mdx
  apps/www/content/docs/components/select.mdx
  apps/www/content/docs/components/separator.mdx
  apps/www/content/docs/components/sheet.mdx
  apps/www/content/docs/components/skeleton.mdx
  apps/www/content/docs/components/slider.mdx
  apps/www/content/docs/components/switch.mdx
  apps/www/content/docs/components/table.mdx
  apps/www/content/docs/components/tabs.mdx
  apps/www/content/docs/components/textarea.mdx
  apps/www/content/docs/components/toast.mdx
  apps/www/content/docs/components/toggle.mdx
  apps/www/content/docs/components/tooltip.mdx
  apps/www/content/docs/installation.mdx
Labels: documentation, area: www

#681 fix(cli): use slash for alpha values in colors
  .changeset/fast-shoes-wash.md
  packages/cli/src/utils/transformers/transform-css-vars.ts
  packages/cli/test/utils/apply-color-mapping.test.ts
Labels: 🚀 autorelease

#682 fix(cli): cssVars template typo causing missing value
  .changeset/proud-windows-explain.md
  apps/www/public/registry/colors/gray.json
  apps/www/public/registry/colors/lime.json
  apps/www/public/registry/colors/neutral.json
  apps/www/public/registry/colors/slate.json
  apps/www/public/registry/colors/stone.json
  apps/www/public/registry/colors/zinc.json
  apps/www/public/registry/themes.css
  apps/www/scripts/build-registry.ts
  apps/www/styles/globals.css
  packages/cli/test/fixtures/colors/neutral.json
  packages/cli/test/fixtures/colors/slate.json
  packages/cli/test/fixtures/colors/stone.json
  packages/cli/test/fixtures/colors/zinc.json
Labels: 🚀 autorelease

#677 fix(cli): use `@antfu/ni` to detect package manager
  .changeset/cyan-houses-dress.md
  packages/cli/package.json
  packages/cli/src/utils/get-package-manager.ts
  pnpm-lock.yaml
Labels: enhancement, area: shadcn-ui (CLI)
