Repository shadcn-ui/ui, pull requests merged in 2023-11, with the labels that each got.

#1920 docs(www): add remix dark mode docs
  apps/www/config/docs.ts
  apps/www/content/docs/dark-mode/index.mdx
  apps/www/content/docs/dark-mode/remix.mdx
Labels: documentation, area: www

#1931 update style for table footer
  apps/www/content/docs/dark-mode/index.mdx
  apps/www/content/docs/dark-mode/remix.mdx
  apps/www/content/docs/installation/next.mdx
  apps/www/public/registry/styles/default/button.json
  apps/www/public/registry/styles/default/calendar.json
  apps/www/public/registry/styles/default/scroll-area.json
  apps/www/public/registry/styles/default/sheet.json
  apps/www/public/registry/styles/default/switch.json
  apps/www/public/registry/styles/new-york/button.json
  apps/www/public/registry/styles/new-york/scroll-area.json
  apps/www/public/registry/styles/new-york/sheet.json
  apps/www/public/registry/styles/new-york/switch.json
  apps/www/registry/default/example/table-demo.tsx
  apps/www/registry/default/ui/table.tsx
  apps/www/registry/new-york/example/table-demo.tsx
  apps/www/registry/new-york/ui/table.tsx
Labels: enhancement, component: table

#1829 fix(scroll-area): horizontal scroll bar not visible
  apps/www/registry/default/ui/scroll-area.tsx
  apps/www/registry/new-york/ui/scroll-area.tsx
Labels: bug, component: scroll area, automerge

#1830 docs: updated contributing guidelines to easily contribute
  CONTRIBUTING.md
Labels: documentation, area: www, automerge

#1717 fix(#1686): remove redundant `children` prop
  apps/www/public/registry/styles/default/radio-group.json
  apps/www/public/registry/styles/new-york/radio-group.json
  apps/www/registry/default/ui/radio-group.tsx
  apps/www/registry/new-york/ui/radio-group.tsx
Labels: bug, component: radio group, area: roadmap, automerge

#1852 refactor(calendar): updated css so date doesn't show up selected twice in DatePickerComponent
  apps/www/public/registry/styles/default/calendar.json
  apps/www/public/registry/styles/new-york/calendar.json
  apps/www/registry/default/ui/calendar.tsx
  apps/www/registry/new-york/ui/calendar.tsx
Labels: enhancement, component: calendar, area: roadmap, component: datepicker, automerge

#1688 chore: upgrade `@radix-ui/react-select` to 2.0.0
  apps/www/package.json
  pnpm-lock.yaml
Labels: area: www, automerge

#1670 Move className overwrite of AccordionContent to the children component
  apps/www/public/registry/styles/default/accordion.json
  apps/www/public/registry/styles/new-york/accordion.json
  apps/www/registry/default/ui/accordion.tsx
  apps/www/registry/new-york/ui/accordion.tsx
Labels: bug, component: accordion, area: roadmap, automerge

#1640 Remove Redundant md:w-full class in DialogPrimitive.Content in dialog and alert-dialog
  apps/www/pages/api/components.json
  apps/www/public/registry/styles/default/alert-dialog.json
  apps/www/public/registry/styles/default/dialog.json
  apps/www/public/registry/styles/new-york/alert-dialog.json
  apps/www/public/registry/styles/new-york/dialog.json
  apps/www/registry/default/ui/alert-dialog.tsx
  apps/www/registry/default/ui/dialog.tsx
  apps/www/registry/new-york/ui/alert-dialog.tsx
  apps/www/registry/new-york/ui/dialog.tsx
Labels: bug, component: alert dialog, component: dialog, area: roadmap, automerge

#1490 style: add import type for Command component
  apps/www/registry/default/ui/command.tsx
  apps/www/registry/default/ui/scroll-area.tsx
  apps/www/registry/new-york/ui/command.tsx
  apps/www/registry/new-york/ui/scroll-area.tsx
Labels: ci: failed

#1547 feat(components): toggle-group
  apps/www/__registry__/index.tsx
  apps/www/app/sink/page.tsx
  apps/www/config/docs.ts
  apps/www/content/docs/components/toggle-group.mdx
  apps/www/pages/api/components.json
  apps/www/public/registry/index.json
  apps/www/public/registry/styles/default/toggle-group.json
  apps/www/public/registry/styles/new-york/toggle-group.json
  apps/www/registry/default/example/toggle-group-demo.tsx
  apps/www/registry/default/example/toggle-group-disabled.tsx
  apps/www/registry/default/example/toggle-group-lg.tsx
  apps/www/registry/default/example/toggle-group-outline.tsx
  apps/www/registry/default/example/toggle-group-single.tsx
  apps/www/registry/default/example/toggle-group-sm.tsx
  apps/www/registry/default/ui/toggle-group.tsx
  apps/www/registry/new-york/example/toggle-group-demo.tsx
  apps/www/registry/new-york/example/toggle-group-disabled.tsx
  apps/www/registry/new-york/example/toggle-group-lg.tsx
  apps/www/registry/new-york/example/toggle-group-outline.tsx
  apps/www/registry/new-york/example/toggle-group-single.tsx
  apps/www/registry/new-york/example/toggle-group-sm.tsx
  apps/www/registry/new-york/ui/toggle-group.tsx
  apps/www/registry/registry.ts
Labels: component: toggle group, new component, area: roadmap, automerge

#945 feat: fix for column grouping
  apps/www/app/examples/tasks/components/data-table.tsx
Labels: area: www, area: examples, automerge

#1959 docs(components): add indeterminate state checkboxes
  apps/www/app/examples/tasks/components/columns.tsx
  apps/www/content/docs/components/data-table.mdx
  apps/www/registry/default/example/cards/data-table.tsx
  apps/www/registry/default/example/data-table-demo.tsx
  apps/www/registry/new-york/example/cards/data-table.tsx
  apps/www/registry/new-york/example/data-table-demo.tsx
Labels: area: examples, automerge

#1958 docs(www): update installation of `Astro`
  apps/www/content/docs/components/form.mdx
  apps/www/content/docs/installation/astro.mdx
Labels: documentation, area: www, automerge
