Repository shadcn-ui/ui, pull requests merged in 2023-05, with the labels that each got.

#271 fix(shadcn-ui): update color of cards in dark mode
  .changeset/purple-dryers-repeat.md
  apps/www/content/docs/installation.mdx
  packages/cli/src/utils/templates.ts
Labels: bug, area: shadcn-ui (CLI)

#279 fix(www): update to canary with scrolling fix
  apps/www/package.json
  pnpm-lock.yaml
Labels: bug, area: www

#283 docs: move combobox and date picker to their own page
  apps/www/app/examples/cards/components/date-picker.tsx
  apps/www/app/sink/page.tsx
  apps/www/components/component-example.tsx
  apps/www/components/copy-button.tsx
  apps/www/components/examples/combobox/demo.tsx
  apps/www/components/examples/combobox/dropdown-menu.tsx
  apps/www/components/examples/combobox/popover.tsx
  apps/www/components/examples/date-picker/demo.tsx
  apps/www/components/examples/date-picker/with-presets.tsx
  apps/www/components/examples/date-picker/with-range.tsx
  apps/www/components/examples/index.tsx
  apps/www/components/mdx-components.tsx
  apps/www/config/docs.ts
  apps/www/content/docs/components/calendar.mdx
  apps/www/content/docs/components/combobox.mdx
  apps/www/content/docs/components/command.mdx
  apps/www/content/docs/components/date-picker.mdx
Labels: documentation, area: www

#224 fix(checkbox,radio-group): Increase contrast ratio of checkboxes and radio buttons
  apps/www/components/ui/checkbox.tsx
  apps/www/components/ui/radio-group.tsx
Labels: enhancement, area: component, component: checkbox, component: radio group, a11y

#248 feat(Table): Add Table component
  apps/www/components/ui/table.tsx
Labels: area: component, new component

#259 fix: add missing deps for Button
  .changeset/wicked-eagles-turn.md
  apps/www/config/components.ts
  apps/www/content/docs/components/button.mdx
  apps/www/pages/api/components.json
Labels: 🚀 autorelease

#358 fix(code-block-wrapper): missing ']' in className
  apps/www/components/code-block-wrapper.tsx
Labels: bug, area: www

#245 feat(cli): add config files and examples in docs
  packages/cli/package.json
  packages/cli/src/index.ts
  packages/cli/src/utils/get-config.ts
  packages/cli/src/utils/get-project-info.ts
  pnpm-lock.yaml
Labels: enhancement, area: shadcn-ui (CLI)

#473 fix: modify incorrect className
  apps/www/app/sink/page.tsx
  apps/www/components/ui/command.tsx
  apps/www/pages/api/components.json
Labels: bug, area: component, component: command
