Repository shadcn-ui/ui, pull requests merged in 2023-08, with the labels that each got.

#814 feat(docs): Adding vite section to dark mode docs.
  apps/www/config/docs.ts
  apps/www/content/docs/dark-mode/index.mdx
  apps/www/content/docs/dark-mode/next.mdx
  apps/www/content/docs/dark-mode/vite.mdx
Labels: documentation, framework: vite

#974 docs: update import in remix installation
  apps/www/content/docs/installation/remix.mdx
Labels: documentation, area: www

#982 docs: add api reference for component.json file
  apps/www/components/mdx-components.tsx
  apps/www/config/docs.ts
  apps/www/content/docs/components-json.mdx
Labels: documentation, area: www

#1209 fix(www): payment method :has selector not working on Firefox
  apps/www/app/examples/cards/components/payment-method.tsx
  apps/www/registry/default/example/cards/payment-method.tsx
  apps/www/registry/new-york/example/cards/payment-method.tsx
Labels: bug, area: www

#1266 docs: add contributing guide
  CONTRIBUTING.md
  README.md
Labels: documentation, area: www

#1270 docs: fix typo in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, area: www

#1319 chore: remove a duplicate call in init.test
  .changeset/new-jeans-doubt.md
  packages/cli/test/commands/init.test.ts
Labels: area: cli

#1311 chore: remove unneccesary imports
  apps/www/registry/default/example/textarea-form.tsx
  apps/www/registry/new-york/example/textarea-form.tsx
Labels: area: www

#1279 feat(docs): add Laravel install docs
  apps/www/config/docs.ts
  apps/www/content/docs/installation/index.mdx
  apps/www/content/docs/installation/laravel.mdx
Labels: documentation, area: www

#1137 fix: Don't allow empty chat messages
  apps/www/registry/default/example/cards/chat.tsx
  apps/www/registry/new-york/example/cards/chat.tsx
Labels: bug, area: www

#1295 fix(scroll-area): fixed missing key prop error
  apps/www/registry/default/example/scroll-area-demo.tsx
  apps/www/registry/new-york/example/scroll-area-demo.tsx
Labels: area: www, fix

#1118 Update dark-mode/vite.mdx
  apps/www/content/docs/dark-mode/vite.mdx
Labels: documentation, area: www, failed: code check
