Repository shadcn-ui/ui, pull requests merged in 2023-02, with the labels that each got.

#34 feat/toggle
  apps/www/components/examples/index.tsx
  apps/www/components/examples/toggle/demo.tsx
  apps/www/components/examples/toggle/disabled.tsx
  apps/www/components/examples/toggle/lg.tsx
  apps/www/components/examples/toggle/outline.tsx
  apps/www/components/examples/toggle/sm.tsx
  apps/www/components/examples/toggle/with-text.tsx
  apps/www/components/ui/toggle.tsx
  apps/www/config/docs.ts
  apps/www/content/docs/primitives/toggle.mdx
  apps/www/package.json
  pnpm-lock.yaml
Labels: area: component, component: toggle

#59 fix: broken navigation menu in small screen, #40
  apps/www/components/examples/navigation-menu/demo.tsx
  apps/www/components/ui/navigation-menu.tsx
Labels: bug, area: component, component: navigation menu

#32 feat: toast
  apps/www/app/layout.tsx
  apps/www/components/examples/index.tsx
  apps/www/components/examples/toast/demo.tsx
  apps/www/components/examples/toast/destructive.tsx
  apps/www/components/examples/toast/simple.tsx
  apps/www/components/examples/toast/with-action.tsx
  apps/www/components/examples/toast/with-title.tsx
  apps/www/components/ui/toast.tsx
  apps/www/components/ui/toaster.tsx
  apps/www/config/docs.ts
  apps/www/content/docs/primitives/toast.mdx
  apps/www/hooks/use-toast.ts
  apps/www/package.json
  apps/www/styles/mdx.css
  pnpm-lock.yaml
Labels: area: component, component: toast

#56 Fix bg color link button
  apps/www/components/ui/button.tsx
Labels: bug, area: component, component: button

#85 fix: correct padding of command groups when list is filtered
  apps/www/components/ui/command.tsx
Labels: area: component, component: command

#90 Add style when NavigationMenuLink is active
  apps/www/components/ui/navigation-menu.tsx
Labels: area: component, component: navigation menu

#79 fixing a11y issue with "destructive" button
  apps/www/components/callout.tsx
  templates/next-template/components/ui/button.tsx
Labels: area: component, component: button, a11y
