Repository shadcn-ui/ui, pull requests merged in 2024-10, with the labels that each got.

#5491 fix(sidebar): only apply text-sidebar-foreground to sidebar
  apps/www/__registry__/default/block/demo-sidebar-controlled.tsx
  apps/www/__registry__/new-york/block/demo-sidebar-controlled.tsx
  apps/www/content/docs/components/sidebar.mdx
  apps/www/public/r/styles/default/demo-sidebar-controlled.json
  apps/www/public/r/styles/default/sidebar.json
  apps/www/public/r/styles/new-york/demo-sidebar-controlled.json
  apps/www/public/r/styles/new-york/sidebar.json
  apps/www/registry/default/ui/sidebar.tsx
  apps/www/registry/new-york/ui/sidebar.tsx
Labels: bug, automerge, component: sidebar

#5467 docs: [Sidebar Component] add missing installation step in the sidebar component documentation
  apps/www/content/docs/components/sidebar.mdx
Labels: postpone: more info or changes requested

#5518 fix(shadcn): fix transformRsc to account for '
  .changeset/friendly-mangos-fetch.md
  packages/shadcn/src/utils/transformers/transform-rsc.ts
  packages/shadcn/test/utils/__snapshots__/transform-rsc.test.ts.snap
  packages/shadcn/test/utils/transform-rsc.test.ts
Labels: bug, area: shadcn

#5299 fix: shadcn init with correct packageManager
  .changeset/modern-pens-sell.md
  packages/shadcn/src/utils/create-project.ts
Labels: bug, area: shadcn

#5570 fix: gaps in command and dropdown-menu
  apps/www/content/docs/components/command.mdx
  apps/www/content/docs/components/dropdown-menu.mdx
  apps/www/public/r/styles/default/command.json
  apps/www/public/r/styles/default/dropdown-menu.json
  apps/www/public/r/styles/new-york/command.json
  apps/www/public/r/styles/new-york/dropdown-menu.json
  apps/www/registry/default/ui/command.tsx
  apps/www/registry/default/ui/dropdown-menu.tsx
  apps/www/registry/new-york/ui/command.tsx
  apps/www/registry/new-york/ui/dropdown-menu.tsx
  packages/shadcn/test/utils/schema/__snapshots__/registry-resolve-items-tree.test.ts.snap
Labels: bug, component: dropdown menu, component: command

#5633 fix(docs): resolve link issue in documentation pages
  apps/www/content/docs/installation/next.mdx
Labels: documentation, area: www, typo, automerge

#5638 docs(www): update status for radix icons
  apps/www/content/docs/react-19.mdx
Labels: documentation, area: www, React 19

#4741 Docs: update vite installation docs
  apps/www/content/docs/installation/vite.mdx
Labels: documentation, area: www, framework: vite

#5593 refactor(sidebar): improve setOpen callback logic
  apps/www/content/docs/components/sidebar.mdx
  apps/www/public/r/styles/default/sidebar.json
  apps/www/public/r/styles/new-york/sidebar.json
  apps/www/registry/default/ui/sidebar.tsx
  apps/www/registry/new-york/ui/sidebar.tsx
Labels: bug, component: sidebar

#5640 docs(www): React 19: Add proper diff for peerDependencies
  apps/www/content/docs/react-19.mdx
Labels: documentation, area: www, React 19
