Repository shadcn-ui/ui, pull requests merged in 2024-01, with the labels that each got.

#2266 feat(cli): add support for custom ui dir
  .changeset/odd-pigs-cross.md
  apps/www/content/docs/components-json.mdx
  apps/www/public/schema.json
  packages/cli/src/utils/get-config.ts
  packages/cli/src/utils/registry/index.ts
  packages/cli/src/utils/transformers/transform-import.ts
  packages/cli/test/fixtures/config-ui/components.json
  packages/cli/test/fixtures/config-ui/package.json
  packages/cli/test/fixtures/config-ui/tsconfig.json
  packages/cli/test/utils/__snapshots__/transform-import.test.ts.snap
  packages/cli/test/utils/get-config.test.ts
  packages/cli/test/utils/get-item-target-path.test.ts
  packages/cli/test/utils/transform-import.test.ts
Labels: enhancement, area: cli

#2278 Fix: Add e.preventDefault() to prevent page reload
  apps/www/app/examples/mail/components/mail-display.tsx
Labels: area: www, area: examples, automerge

#2306 docs: typo in drawer, dialog and sheet
  apps/www/app/examples/playground/components/preset-actions.tsx
  apps/www/content/docs/components/dialog.mdx
  apps/www/content/docs/components/drawer.mdx
  apps/www/content/docs/components/sheet.mdx
  apps/www/registry/default/example/typography-large.tsx
  apps/www/registry/new-york/example/typography-large.tsx
Labels: area: www, typo, area: examples, automerge

#2295 fix(docs): Resizable panel direction should be horizontal
  apps/www/content/docs/components/resizable.mdx
Labels: documentation, automerge

#2163 fix(www): incorrect toggle aria labels and values
  apps/www/registry/default/example/toggle-demo.tsx
  apps/www/registry/default/example/toggle-disabled.tsx
  apps/www/registry/default/example/toggle-group-demo.tsx
  apps/www/registry/default/example/toggle-group-disabled.tsx
  apps/www/registry/default/example/toggle-group-lg.tsx
  apps/www/registry/default/example/toggle-group-outline.tsx
  apps/www/registry/default/example/toggle-group-single.tsx
  apps/www/registry/default/example/toggle-group-sm.tsx
Labels: area: examples, automerge

#2268 fix: Github case correction
  apps/www/app/examples/authentication/components/user-auth-form.tsx
  apps/www/registry/new-york/example/cards/create-account.tsx
Labels: area: www, typo, automerge

#2216 fix: typo on carousel import
  apps/www/content/docs/components/carousel.mdx
Labels: area: www, area: examples, automerge

#2283 [Docs] Update CLI options while configuring `components.json`
  apps/www/content/docs/installation/next.mdx
Labels: documentation, area: www, automerge

#2319 feat(components): add "use client" directive to carousel, resizable component
  apps/www/public/registry/styles/default/carousel.json
  apps/www/public/registry/styles/default/resizable.json
  apps/www/public/registry/styles/new-york/carousel.json
  apps/www/public/registry/styles/new-york/resizable.json
  apps/www/registry/default/ui/carousel.tsx
  apps/www/registry/default/ui/resizable.tsx
  apps/www/registry/new-york/ui/carousel.tsx
  apps/www/registry/new-york/ui/resizable.tsx
Labels: bug, automerge, component: carousel, component: resizable

#2419 feat: add support for adding devDependencies in the cli
  .changeset/violet-roses-live.md
  apps/www/registry/registry.ts
  apps/www/registry/schema.ts
  packages/cli/src/commands/add.ts
  packages/cli/src/utils/registry/schema.ts
Labels: area: cli

#2374 Update models.ts
  apps/www/app/examples/playground/data/models.ts
Labels: area: www, fix, automerge

#2190 fix(pagination): remove incorrect nested li from pagination link
  apps/www/public/registry/styles/default/pagination.json
  apps/www/public/registry/styles/new-york/pagination.json
  apps/www/registry/default/ui/pagination.tsx
  apps/www/registry/new-york/ui/pagination.tsx
  apps/www/registry/registry.ts
Labels: bug, component: pagination

#2178 Adds missing display names to Pagination Elements
  apps/www/public/registry/styles/default/pagination.json
  apps/www/public/registry/styles/new-york/pagination.json
  apps/www/registry/default/ui/pagination.tsx
  apps/www/registry/new-york/ui/pagination.tsx
Labels: bug, automerge, component: pagination

#2326 fix(carousel): adjust types for embla-carousel-react@8
  apps/www/public/registry/styles/default/carousel.json
  apps/www/public/registry/styles/new-york/carousel.json
  apps/www/registry/default/ui/carousel.tsx
  apps/www/registry/new-york/ui/carousel.tsx
Labels: bug, automerge, component: carousel

#2466 refactor: update zod imports
  apps/www/app/examples/forms/account/account-form.tsx
  apps/www/app/examples/forms/appearance/appearance-form.tsx
  apps/www/app/examples/forms/display/display-form.tsx
  apps/www/app/examples/forms/notifications/notifications-form.tsx
  apps/www/app/examples/forms/profile-form.tsx
  apps/www/content/docs/components/form.mdx
  apps/www/lib/validations/log.ts
  apps/www/lib/validations/og.ts
  apps/www/registry/default/example/calendar-form.tsx
  apps/www/registry/default/example/calendar-react-hook-form.tsx
  apps/www/registry/default/example/checkbox-form-multiple.tsx
  apps/www/registry/default/example/checkbox-form-single.tsx
  apps/www/registry/default/example/combobox-form.tsx
  apps/www/registry/default/example/date-picker-form.tsx
  apps/www/registry/default/example/input-form.tsx
  apps/www/registry/default/example/radio-group-form.tsx
  apps/www/registry/default/example/select-form.tsx
  apps/www/registry/default/example/switch-form.tsx
  apps/www/registry/default/example/textarea-form.tsx
  apps/www/registry/new-york/example/calendar-form.tsx
  apps/www/registry/new-york/example/checkbox-form-multiple.tsx
  apps/www/registry/new-york/example/checkbox-form-single.tsx
  apps/www/registry/new-york/example/combobox-form.tsx
  apps/www/registry/new-york/example/date-picker-form.tsx
  apps/www/registry/new-york/example/input-form.tsx
  apps/www/registry/new-york/example/radio-group-form.tsx
  apps/www/registry/new-york/example/select-form.tsx
  apps/www/registry/new-york/example/switch-form.tsx
  apps/www/registry/new-york/example/textarea-form.tsx
  apps/www/registry/schema.ts
Labels: area: www, area: examples, fix

#2595 ci: add stale issue workflow
  .github/workflows/issue-stale.yml
Labels: area: www

#2473 refactor: update zod imports in /cli
  .changeset/wet-eagles-leave.md
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/diff.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/utils/get-config.ts
  packages/cli/src/utils/registry/index.ts
  packages/cli/src/utils/registry/schema.ts
  packages/cli/src/utils/transformers/index.ts
  packages/cli/src/utils/transformers/transform-css-vars.ts
Labels: automerge

#2009 fix background color in dropdown menu for example
  apps/www/app/examples/forms/appearance/appearance-form.tsx
Labels: automerge

#1977 fix(build): replace ts-node with tsx to resolve issues with modules
  apps/www/package.json
  package.json
  pnpm-lock.yaml
Labels: area: www, automerge

#2036 feat(components): skeleton example
  apps/www/__registry__/index.tsx
  apps/www/content/docs/components/skeleton.mdx
  apps/www/registry/default/example/skeleton-card.tsx
  apps/www/registry/new-york/example/skeleton-card.tsx
  apps/www/registry/registry.ts
Labels: area: examples
