Repository shadcn-ui/ui, pull requests merged in 2024-11, with the labels that each got.

#5686 feat: remove npm flags
  .changeset/kind-suits-wait.md
  apps/www/content/docs/components/chart.mdx
  apps/www/content/docs/react-19.mdx
  packages/shadcn/src/utils/updaters/update-dependencies.ts
Labels: React 19, area: shadcn

#5688 feat: www updates
  apps/www/app/(app)/docs/[[...slug]]/page.tsx
  apps/www/app/(app)/docs/layout.tsx
  apps/www/app/(app)/layout.tsx
  apps/www/app/(app)/page.tsx
  apps/www/components/examples-nav.tsx
  apps/www/components/mobile-nav.tsx
  apps/www/components/mode-toggle.tsx
  apps/www/components/pager.tsx
  apps/www/components/site-header.tsx
  apps/www/public/favicon-16x16.png
  apps/www/public/favicon-32x32.png
  apps/www/public/favicon.ico
  apps/www/public/r/styles/new-york/accordion.json
  apps/www/registry/new-york/example/cards/activity-goal.tsx
  apps/www/registry/new-york/example/cards/chat.tsx
  apps/www/registry/new-york/example/cards/data-table.tsx
  apps/www/registry/new-york/example/cards/report-issue.tsx
  apps/www/registry/new-york/example/cards/stats.tsx
  apps/www/registry/new-york/example/cards/team-members.tsx
  apps/www/registry/new-york/ui/accordion.tsx
  tailwind.config.cjs
Labels: area: www

#5691 fix: svg props casing to camelCase
  apps/www/components/mobile-nav.tsx
Labels: bug, area: www

#5701 refactor(www): update ThemeProviderProps type extraction for next-themes v0.4.0 compatibility
  apps/www/components/providers.tsx
  apps/www/content/docs/dark-mode/next.mdx
Labels: documentation, area: www

#5657 refactor(components): remove redundant empty interfaces from Input, Command, and Textarea components
  apps/www/public/r/styles/default/command.json
  apps/www/public/r/styles/default/input.json
  apps/www/public/r/styles/default/textarea.json
  apps/www/public/r/styles/new-york/command.json
  apps/www/public/r/styles/new-york/input.json
  apps/www/public/r/styles/new-york/textarea.json
  apps/www/registry/default/ui/command.tsx
  apps/www/registry/default/ui/input.tsx
  apps/www/registry/default/ui/textarea.tsx
  apps/www/registry/new-york/ui/command.tsx
  apps/www/registry/new-york/ui/input.tsx
  apps/www/registry/new-york/ui/textarea.tsx
Labels: enhancement, component: input, component: textarea, component: command, area: roadmap

#5678 fix(transform): Support aliases that are longer than one character
  .changeset/fifty-rivers-sparkle.md
  packages/shadcn/src/utils/get-project-info.ts
  packages/shadcn/src/utils/transformers/transform-import.ts
  packages/shadcn/test/fixtures/frameworks/next-app-custom-alias/app/favicon.ico
  packages/shadcn/test/fixtures/frameworks/next-app-custom-alias/app/globals.css
  packages/shadcn/test/fixtures/frameworks/next-app-custom-alias/app/layout.tsx
  packages/shadcn/test/fixtures/frameworks/next-app-custom-alias/app/other.css
  packages/shadcn/test/fixtures/frameworks/next-app-custom-alias/app/page.tsx
  packages/shadcn/test/fixtures/frameworks/next-app-custom-alias/next-env.d.ts
  packages/shadcn/test/fixtures/frameworks/next-app-custom-alias/next.config.ts
  packages/shadcn/test/fixtures/frameworks/next-app-custom-alias/package.json
  packages/shadcn/test/fixtures/frameworks/next-app-custom-alias/postcss.config.js
  packages/shadcn/test/fixtures/frameworks/next-app-custom-alias/tailwind.config.ts
  packages/shadcn/test/fixtures/frameworks/next-app-custom-alias/tsconfig.json
  packages/shadcn/test/utils/__snapshots__/transform-import.test.ts.snap
  packages/shadcn/test/utils/get-ts-config-alias-prefix.test.ts
  packages/shadcn/test/utils/transform-import.test.ts
Labels: enhancement, 🚀 autorelease, area: shadcn

#5813 fix(shadcn): handling of tsconfig aliases
  .changeset/fresh-turtles-cheat.md
  packages/shadcn/src/utils/get-project-info.ts
Labels: enhancement, area: cli

#5807 docs(contributing): add CLI usage instructions
  CONTRIBUTING.md
Labels: documentation, area: shadcn

#5711 fix(shadcn) arrays and nested deeply nested spread
  .changeset/empty-pants-care.md
  packages/shadcn/src/utils/updaters/update-tailwind-config.ts
  packages/shadcn/test/utils/updaters/__snapshots__/update-tailwind-config.test.ts.snap
  packages/shadcn/test/utils/updaters/update-tailwind-config.test.ts
Labels: enhancement, area: roadmap, area: shadcn

#5817 docs(www): update manual installation
  apps/www/content/docs/installation/manual.mdx
Labels: documentation, area: www

#5818 feat(www): refactor examples page
  apps/www/app/(app)/examples/layout.tsx
  apps/www/components/examples-nav.tsx
  apps/www/components/main-nav.tsx
  apps/www/config/docs.ts
Labels: area: www, area: examples
