Repository shadcn-ui/ui, pull requests merged in 2024-08, with the labels that each got.

#4330 fix: missing close tag for command
  apps/www/content/docs/components/combobox.mdx
Labels: documentation, component: command

#4324 fix(www): remove unused import
  apps/www/content/docs/components/data-table.mdx
Labels: documentation, area: www, automerge

#4491 docs: Fix docs dark-mode astro.mdx
  apps/www/content/docs/dark-mode/astro.mdx
Labels: documentation, area: www, automerge

#2945 fix: Command/Combobox TypeError and Unclickable/Disabled items + Documentation
  apps/www/app/(app)/examples/playground/components/model-selector.tsx
  apps/www/content/docs/components/combobox.mdx
  apps/www/package.json
  apps/www/public/registry/index.json
  apps/www/public/registry/styles/default/command.json
  apps/www/public/registry/styles/new-york/command.json
  apps/www/registry/default/example/command-demo.tsx
  apps/www/registry/default/ui/command.tsx
  apps/www/registry/new-york/example/combobox-demo.tsx
  apps/www/registry/new-york/example/command-demo.tsx
  apps/www/registry/new-york/ui/command.tsx
  apps/www/registry/ui.ts
  pnpm-lock.yaml
Labels: component: command

#4503 fix(components): combobox: added command-list component to eliminate error
  apps/www/app/(app)/examples/dashboard/components/team-switcher.tsx
  apps/www/app/(app)/examples/forms/account/account-form.tsx
  apps/www/registry/default/example/combobox-demo.tsx
  apps/www/registry/new-york/example/combobox-demo.tsx
Labels: bug, area: www, component: command, automerge

#4507 fix: Playground example model selector working
  apps/www/app/(app)/examples/playground/components/model-selector.tsx
Labels: bug, area: www, area: examples, automerge
