Repository shadcn-ui/ui, pull requests merged in 2024-07, with the labels that each got.

#4153 Update data-table.mdx
  apps/www/content/docs/components/data-table.mdx
Labels: documentation, area: www, automerge

#4174 docs: minor typo in the first page's FAQ
  apps/www/content/docs/index.mdx
Labels: area: www, typo, automerge

#4234 fix type import in toggle-group.tsx
  apps/www/__registry__/default/ui/toggle-group.tsx
  apps/www/public/registry/styles/default/toggle-group.json
  apps/www/public/registry/styles/new-york/toggle-group.json
  apps/www/registry/default/ui/toggle-group.tsx
  apps/www/registry/new-york/ui/toggle-group.tsx
Labels: component: toggle group, fix, automerge

#4237 feat: add chart colors to theme customizer
  apps/www/components/theme-customizer.tsx
  apps/www/registry/themes.ts
Labels: area: www, automerge

#4230 bug fix: type error in chart.tsx
  apps/www/public/registry/styles/default/chart.json
  apps/www/public/registry/styles/new-york/chart.json
  apps/www/registry/default/ui/chart.tsx
  apps/www/registry/new-york/ui/chart.tsx
Labels: automerge, component: chart

#4275 fix(docs): resolve imports for IDE
  apps/www/content/docs/installation/vite.mdx
Labels: documentation, area: www, automerge

#4292 chore(www): switch to contentlayer2
  apps/www/components/mdx-components.tsx
  apps/www/contentlayer.config.js
  apps/www/next.config.mjs
  apps/www/package.json
  apps/www/public/registry/styles/default/chart.json
  apps/www/public/registry/styles/new-york/chart.json
  apps/www/tsconfig.json
  package.json
  pnpm-lock.yaml
  templates/next-template/package.json
Labels: area: www

#4260 docs: update Vite instructions
  apps/www/content/docs/installation/vite.mdx
Labels: documentation, area: www, framework: vite, automerge

#4293 chore(build:registry): update indentation
  apps/www/public/registry/colors/gray.json
  apps/www/public/registry/colors/neutral.json
  apps/www/public/registry/colors/slate.json
  apps/www/public/registry/colors/stone.json
  apps/www/public/registry/colors/zinc.json
  apps/www/scripts/build-registry.mts
Labels: area: www, fix, automerge

#4286 Use double-quotes instead template literals
  tailwind.config.cjs
Labels: area: www, fix, automerge

#4315 fix: typo in theme template causing blank color values.
  apps/www/components/theme-customizer.tsx
Labels: bug, area: www, automerge
