Repository shadcn-ui/ui, pull requests merged in 2024-09, with the labels that each got.

#4723 docs(www): updates docs for Astro
  apps/www/content/docs/installation/astro.mdx
Labels: documentation, area: www, framework: astro

#4726 fix(shadcn): handle quote in theme values
  .changeset/forty-rabbits-wonder.md
  packages/shadcn/src/utils/updaters/update-tailwind-config.ts
  packages/shadcn/test/utils/updaters/__snapshots__/update-tailwind-config.test.ts.snap
  packages/shadcn/test/utils/updaters/update-tailwind-config.test.ts
Labels: bug, area: shadcn

#4725 docs(www): update installation docs
  apps/www/config/docs.ts
  apps/www/content/docs/installation/index.mdx
  apps/www/content/docs/installation/next.mdx
Labels: documentation, area: www

#4731 fix(shadcn): init with src
  .changeset/odd-swans-burn.md
  packages/shadcn/src/utils/updaters/update-files.ts
Labels: bug, area: shadcn

#4728 Fix use-toast module path
  apps/www/content/docs/components/toast.mdx
Labels: documentation, area: www, automerge

#4776 fix(shadcn): better error handling
  .changeset/tender-insects-fix.md
  packages/shadcn/src/utils/registry/index.ts
Labels: enhancement, area: shadcn

#4787 fix(shadcn): add src to content in tailwind config
  .changeset/kind-paws-shop.md
  packages/shadcn/src/commands/init.ts
  packages/shadcn/src/utils/updaters/update-tailwind-config.ts
  packages/shadcn/src/utils/updaters/update-tailwind-content.ts
  packages/shadcn/test/utils/updaters/__snapshots__/update-tailwind-content.test.ts.snap
  packages/shadcn/test/utils/updaters/update-tailwind-content.test.ts
Labels: enhancement, 🚀 autorelease, area: shadcn

#4811 Fix Incorrect Hook Import Path in Toast Component Example in ShadCN Docs
  apps/www/content/docs/components/toast.mdx
Labels: documentation, area: www, component: toast, automerge

#4815 fix: correct grammar in "path does not contain a package.json" message
  .changeset/lemon-yaks-bathe.md
  packages/shadcn/src/utils/create-project.ts
Labels: area: roadmap, area: shadcn

#4797 fix(cli): Ensure .scss files are considered in getTailwindCssFile
  .changeset/chilly-geckos-run.md
  packages/cli/src/utils/get-project-info.ts
Labels: enhancement, area: shadcn

#4848 Adding support for ~ in target specification
  .changeset/clever-swans-tan.md
  packages/shadcn/src/utils/updaters/update-files.ts
  packages/shadcn/test/utils/updaters/update-files.test.ts
Labels: enhancement, automerge, area: shadcn

#4922 fix(shadcn): default next styles are not completely cleared
  .changeset/hip-ads-destroy.md
  packages/shadcn/src/utils/updaters/update-css-vars.ts
  packages/shadcn/test/utils/schema/__snapshots__/registry-resolve-items-tree.test.ts.snap
Labels: bug, area: shadcn

#4961 feat(shadcn): recursively resolve registry dependencies
  .changeset/hip-moose-add.md
  .github/workflows/prerelease.yml
  packages/shadcn/src/utils/registry/index.ts
  packages/shadcn/test/utils/schema/__snapshots__/registry-resolve-items-tree.test.ts.snap
Labels: enhancement, area: shadcn

#4945 use "?url" suffix in "tailwind.css" import (Remix)
  apps/www/content/docs/installation/remix.mdx
Labels: documentation, area: www, automerge, framework: remix

#4988 chore(cli): add deprecation notice
  .changeset/small-plums-swim.md
  packages/cli/README.md
  packages/cli/src/commands/add.ts
  packages/cli/src/commands/init.ts
  packages/cli/src/deprecated.ts
  packages/cli/src/index.ts
Labels: area: cli
