Repository shadcn-ui/ui, pull requests merged in 2024-12, with the labels that each got.

#4397 chore(apps): Update lodash
  .changeset/twenty-trains-check.md
  apps/www/__registry__/new-york/block/chart-area-interactive.tsx
  apps/www/components/theme-customizer.tsx
  apps/www/package.json
  apps/www/public/r/styles/default/input.json
  apps/www/public/r/styles/new-york/chart-area-interactive.json
  apps/www/public/r/styles/new-york/input.json
  apps/www/scripts/build-registry.mts
  packages/cli/package.json
  packages/cli/src/commands/init.ts
  pnpm-lock.yaml
Labels: area: roadmap

#4391 Remove unused imports from shadcn chart
  apps/www/public/r/styles/new-york/chart.json
  apps/www/registry/new-york/ui/chart.tsx
Labels: fix, component: chart

#5222 fix: calendar icon components' props not use.
  apps/www/public/r/styles/default/calendar.json
  apps/www/public/r/styles/new-york/calendar.json
  apps/www/registry/default/ui/calendar.tsx
  apps/www/registry/new-york/ui/calendar.tsx
Labels: enhancement, component: calendar, area: roadmap

#6093 feat(cli): detect and use next version
  .changeset/three-hornets-wash.md
  apps/www/public/r/styles/default/chart.json
  apps/www/public/r/styles/new-york/chart.json
  apps/www/registry/default/ui/chart.tsx
  apps/www/registry/new-york/ui/chart.tsx
  packages/shadcn/src/commands/add.ts
  packages/shadcn/src/utils/create-project.ts
  packages/shadcn/src/utils/registry/index.ts
Labels: area: cli, area: shadcn
