Repository shadcn-ui/ui, pull requests merged in 2025-07, with the labels that each got.

#7717 feat(shadcn): add file support
  .changeset/fifty-gifts-perform.md
  apps/v4/content/docs/(root)/cli.mdx
  packages/shadcn/src/commands/add.ts
  packages/shadcn/src/commands/init.ts
  packages/shadcn/src/registry/api.test.ts
  packages/shadcn/src/registry/api.ts
  packages/shadcn/src/registry/utils.test.ts
  packages/shadcn/src/registry/utils.ts
Labels: area: shadcn

#7757 feat(shadcn): implement registry safe path
  .changeset/kind-pugs-hide.md
  apps/v4/content/docs/(root)/changelog.mdx
  packages/shadcn/src/utils/add-components.ts
  packages/shadcn/src/utils/is-safe-target.test.ts
  packages/shadcn/src/utils/is-safe-target.ts
Labels: area: shadcn

#7724 fix(component) Date Picker Dropdown values not visible in chrome, opera and edge
  apps/v4/public/r/styles/default/calendar.json
  apps/v4/public/r/styles/new-york-v4/calendar.json
  apps/v4/public/r/styles/new-york/calendar.json
  apps/v4/registry/new-york-v4/ui/calendar.tsx
  apps/www/public/r/styles/default/calendar.json
  apps/www/public/r/styles/new-york-v4/calendar.json
  apps/www/public/r/styles/new-york/calendar.json
  apps/www/registry/default/ui/calendar.tsx
  apps/www/registry/new-york/ui/calendar.tsx
Labels: component: calendar, area: roadmap

#7910 test: fix flaky remote registry test
  .github/workflows/test.yml
  apps/v4/package.json
  package.json
  packages/tests/fixtures/next-app/app/layout.tsx
  packages/tests/fixtures/next-app/app/page.tsx
  packages/tests/fixtures/vite-app/src/App.tsx
  packages/tests/fixtures/vite-app/src/main.tsx
  packages/tests/fixtures/vite-app/vite.config.ts
  packages/tests/package.json
  packages/tests/src/tests/add.test.ts
  packages/tests/src/tests/init.test.ts
  packages/tests/src/utils/helpers.ts
  packages/tests/src/utils/registry.ts
  packages/tests/src/utils/setup.ts
  packages/tests/vitest.config.ts
  pnpm-lock.yaml
Labels: area: tests
