Repository shadcn-ui/ui, pull requests merged in 2025-09, with the labels that each got.

#8129 feat: add ai-elements registry
  apps/v4/public/r/registries.json
Labels: registries: valid

#8130 feat: add known open source registries
  apps/v4/public/r/registries.json
Labels: registries: valid

#8128 feat(shadcn): add support for registries index
  .changeset/good-crews-smile.md
  apps/v4/content/docs/registry/meta.json
  apps/v4/content/docs/registry/namespace.mdx
  apps/v4/content/docs/registry/registry-index.mdx
  packages/shadcn/src/commands/add.ts
  packages/shadcn/src/commands/init.ts
  packages/shadcn/src/commands/search.ts
  packages/shadcn/src/commands/view.ts
  packages/shadcn/src/registry/api.ts
  packages/shadcn/src/registry/resolver.test.ts
  packages/shadcn/src/registry/schema.ts
  packages/shadcn/src/utils/get-config.ts
  packages/shadcn/src/utils/registries.ts
  packages/tests/src/tests/registries.test.ts
  packages/tests/src/utils/registry.ts
Labels: area: shadcn

#8140 feat: add @paceui-ui in trusted registries
  apps/v4/public/r/registries.json
Labels: registries: invalid

#8144 feat: add @8bitcn to trusted registries
  apps/v4/public/r/registries.json
Labels: registries: valid

#8145 feat: add @blocks in trusted registries
  apps/v4/public/r/registries.json
Labels: registries: valid

#8146 feat: add @nativeui to trusted registries
  apps/v4/public/r/registries.json
Labels: registries: valid

#8152 feat: add @smoothui to trusted registries
  apps/v4/public/r/registries.json
Labels: registries: valid

#8154 feat: Add @alexcarpenter registry to known registries
  apps/v4/public/r/registries.json
Labels: registries: valid

#8162 feat(v4): add @animate-ui to trusted registries
  apps/v4/public/r/registries.json
Labels: registries: valid

#8170 feat: add @skiper-ui to trusted registries
  apps/v4/public/r/registries.json
Labels: registries: valid

#8167 feat: add @retroui in trusted registries
  apps/v4/public/r/registries.json
Labels: registries: valid

#8207 feat: Add 97cn to registries.json
  apps/v4/public/r/registries.json
Labels: registries: valid

#8216 add getRegistriesIndex
  .changeset/tangy-spiders-hide.md
  packages/shadcn/src/registry/api.test.ts
  packages/shadcn/src/registry/api.ts
  packages/shadcn/src/registry/errors.ts
  packages/shadcn/src/registry/index.ts
  packages/shadcn/src/utils/registries.ts
Labels: area: shadcn

#8036 fix(shadcn): fix async imports not being transformed
  .changeset/tame-schools-flow.md
  packages/shadcn/src/utils/transformers/transform-import.ts
  packages/shadcn/test/utils/__snapshots__/transform-import.test.ts.snap
  packages/shadcn/test/utils/transform-import.test.ts
  packages/shadcn/vitest.config.ts
Labels: area: shadcn

#8186 feat(shadcn): fix transformCssVars function
  .changeset/hip-pianos-fry.md
  packages/shadcn/src/utils/transformers/transform-css-vars.ts
  packages/shadcn/test/utils/__snapshots__/transform-css-vars.test.ts.snap
  packages/shadcn/test/utils/__snapshots__/transform-tw-prefix.test.ts.snap
Labels: area: shadcn

#8245 Add @tweakcn to trusted registries & Add shadcraft to Figma docs
  apps/v4/content/docs/(root)/figma.mdx
  apps/v4/public/r/registries.json
  apps/www/content/docs/figma.mdx
Labels: registries: valid

#8251 feat(input): remove flex class
  apps/v4/content/docs/components/input.mdx
  apps/v4/public/r/styles/new-york-v4/input.json
  apps/v4/registry/new-york-v4/ui/input.tsx
  apps/www/public/r/styles/new-york-v4/input.json
Labels: component: input

#8271 feat(tooltip): update colors
  apps/v4/content/docs/components/tooltip.mdx
  apps/v4/public/r/styles/new-york-v4/registry.json
  apps/v4/public/r/styles/new-york-v4/tooltip.json
  apps/v4/registry/new-york-v4/ui/tooltip.tsx
  apps/www/public/r/styles/new-york-v4/registry.json
  apps/www/public/r/styles/new-york-v4/tooltip.json
Labels: component: tooltip
