Repository shadcn-ui/ui, pull requests merged in 2025-01, with the labels that each got.

#6369 feat(shadcn): handle nested paths for components
  .changeset/silent-rules-cover.md
  packages/shadcn/src/registry/api.ts
  packages/shadcn/src/utils/updaters/update-css-vars.ts
  packages/shadcn/src/utils/updaters/update-files.ts
  packages/shadcn/test/utils/updaters/update-files.test.ts
Labels: enhancement, area: shadcn

#6377 feat(shadcn): add new registry:file type
  .changeset/swift-eyes-dress.md
  apps/www/lib/registry.ts
  apps/www/public/registry.json
  apps/www/public/schema/registry-item.json
  packages/shadcn/src/registry/schema.ts
  packages/shadcn/test/utils/updaters/update-files.test.ts
Labels: enhancement, area: shadcn

#5889 feat(sidebar blocks): adds sidebar-16 block with components and styles
  apps/www/__registry__/default/block/sidebar-16/page.tsx
  apps/www/__registry__/default/blocks/sidebar-16/page.tsx
  apps/www/__registry__/index.tsx
  apps/www/__registry__/new-york/block/sidebar-16/page.tsx
  apps/www/__registry__/new-york/blocks/sidebar-16/page.tsx
  apps/www/public/r/colors/index.json
  apps/www/public/r/styles/default/sidebar-16.json
  apps/www/public/r/styles/default/v0-sidebar-16.json
  apps/www/public/r/styles/new-york/sidebar-16.json
  apps/www/public/r/styles/new-york/sidebar.json
  apps/www/public/r/styles/new-york/v0-sidebar-16.json
  apps/www/registry/default/blocks/sidebar-16/components/app-sidebar.tsx
  apps/www/registry/default/blocks/sidebar-16/components/nav-main.tsx
  apps/www/registry/default/blocks/sidebar-16/components/nav-projects.tsx
  apps/www/registry/default/blocks/sidebar-16/components/nav-secondary.tsx
  apps/www/registry/default/blocks/sidebar-16/components/nav-user.tsx
  apps/www/registry/default/blocks/sidebar-16/components/search-form.tsx
  apps/www/registry/default/blocks/sidebar-16/components/site-header.tsx
  apps/www/registry/default/blocks/sidebar-16/page.tsx
  apps/www/registry/default/v0/sidebar-16.tsx
  apps/www/registry/new-york/blocks/sidebar-16/components/app-sidebar.tsx
  apps/www/registry/new-york/blocks/sidebar-16/components/nav-main.tsx
  apps/www/registry/new-york/blocks/sidebar-16/components/nav-projects.tsx
  apps/www/registry/new-york/blocks/sidebar-16/components/nav-secondary.tsx
  apps/www/registry/new-york/blocks/sidebar-16/components/nav-user.tsx
  apps/www/registry/new-york/blocks/sidebar-16/components/search-form.tsx
  apps/www/registry/new-york/blocks/sidebar-16/components/site-header.tsx
  apps/www/registry/new-york/blocks/sidebar-16/page.tsx
  apps/www/registry/new-york/internal/sidebar-16.tsx
  apps/www/registry/new-york/ui/sidebar.tsx
  apps/www/registry/new-york/v0/sidebar-16.tsx
  apps/www/registry/registry-blocks.ts
Labels: automerge, area: blocks, component: sidebar

#6475 deps(shadcn): remove unused lodash.template
  .changeset/nervous-beans-move.md
  packages/shadcn/package.json
  pnpm-lock.yaml
Labels: area: shadcn

#6487 (2/n) shadcn: css vars for tailwind v4
  .changeset/few-houses-impress.md
  packages/shadcn/src/utils/add-components.ts
  packages/shadcn/src/utils/get-project-info.ts
  packages/shadcn/src/utils/updaters/update-css-vars.ts
  packages/shadcn/src/utils/updaters/update-tailwind-config.ts
  packages/shadcn/test/fixtures/frameworks/next-pages/styles/globals.css
  packages/shadcn/test/utils/updaters/update-css-vars.test.ts
Labels: area: shadcn, tailwind

#6490 (3/n) shadcn: tailwind config
  .changeset/fresh-cherries-brush.md
  packages/shadcn/src/preflights/preflight-init.ts
  packages/shadcn/src/utils/add-components.ts
  packages/shadcn/src/utils/updaters/update-css-vars.ts
  packages/shadcn/test/utils/updaters/update-css-vars.test.ts
Labels: area: shadcn, tailwind

#6515 (4/n) shadcn: fix handling of sidebar colors
  .changeset/nine-llamas-sell.md
  .github/workflows/prerelease.yml
  packages/shadcn/src/utils/updaters/update-css-vars.ts
  packages/shadcn/test/utils/updaters/update-css-vars.test.ts
Labels: area: shadcn, tailwind
