Repository shadcn-ui/ui, pull requests merged in 2025-02, with the labels that each got.

#6571 (6/n) shadcn: handle registry for v4
  .changeset/serious-geese-reply.md
  apps/v4/__registry__/index.tsx
  packages/shadcn/src/registry/api.ts
  packages/shadcn/src/utils/get-config.ts
  packages/shadcn/test/utils/get-config.test.ts
Labels: 🚀 autorelease, area: shadcn, tailwind

#6574 (8/n) shadcn: default to new-york for v4
  .changeset/new-cheetahs-dance.md
  packages/shadcn/src/commands/init.ts
  packages/shadcn/src/registry/api.ts
  packages/shadcn/src/utils/get-project-info.ts
  packages/shadcn/src/utils/updaters/update-css-vars.ts
  packages/shadcn/test/utils/updaters/update-css-vars.test.ts
Labels: area: shadcn, tailwind

#6576 (9/n) shadcn: add warning for deprecated components
  .changeset/slow-tools-relax.md
  packages/shadcn/src/commands/add.ts
Labels: area: shadcn, tailwind

#6584 (10/n) shadcn: misc updates for icons and tooltip
  apps/v4/components/navigation-menu-demo.tsx
  apps/v4/components/scroll-area-demo.tsx
  apps/v4/registry/new-york-v4/ui/command.tsx
  apps/v4/registry/new-york-v4/ui/context-menu.tsx
  apps/v4/registry/new-york-v4/ui/dropdown-menu.tsx
  apps/v4/registry/new-york-v4/ui/menubar.tsx
  apps/v4/registry/new-york-v4/ui/navigation-menu.tsx
  apps/v4/registry/new-york-v4/ui/scroll-area.tsx
  apps/v4/registry/new-york-v4/ui/select.tsx
  apps/v4/registry/new-york-v4/ui/tooltip.tsx
  apps/www/public/r/styles/new-york-v4/command.json
  apps/www/public/r/styles/new-york-v4/context-menu.json
  apps/www/public/r/styles/new-york-v4/dropdown-menu.json
  apps/www/public/r/styles/new-york-v4/menubar.json
  apps/www/public/r/styles/new-york-v4/navigation-menu.json
  apps/www/public/r/styles/new-york-v4/scroll-area.json
  apps/www/public/r/styles/new-york-v4/select.json
  apps/www/public/r/styles/new-york-v4/tooltip.json
Labels: react 19, tailwind

#6507 feat(shadcn): add support for TanStack Start
  .changeset/brave-cheetahs-smile.md
  apps/www/config/docs.ts
  apps/www/content/docs/installation/index.mdx
  apps/www/content/docs/installation/tanstack.mdx
  packages/shadcn/src/utils/frameworks.ts
  packages/shadcn/src/utils/get-project-info.ts
Labels: area: shadcn, framework: tanstack start

#6590 fix(tanstack): fix paths value in tsconfig and check for tanstack start in devDeps also
  .changeset/spotty-plants-juggle.md
  apps/www/content/docs/installation/tanstack.mdx
  packages/shadcn/src/utils/get-project-info.ts
Labels: bug, area: shadcn, framework: tanstack start

#6558 fix: rename sidebar cookie to be valid name
  apps/www/content/docs/components/sidebar.mdx
  apps/www/public/r/styles/default/sidebar.json
  apps/www/public/r/styles/new-york/sidebar.json
  apps/www/registry/default/ui/sidebar.tsx
  apps/www/registry/new-york/ui/sidebar.tsx
Labels: bug, area: roadmap, component: sidebar

#6607 fix(www): code tabs
  apps/www/components/code-block-command.tsx
  apps/www/components/code-tabs.tsx
  apps/www/components/mdx-components.tsx
  apps/www/content/docs/components/accordion.mdx
  apps/www/content/docs/components/alert-dialog.mdx
  apps/www/content/docs/components/alert.mdx
  apps/www/content/docs/components/aspect-ratio.mdx
  apps/www/content/docs/components/avatar.mdx
  apps/www/content/docs/components/badge.mdx
  apps/www/content/docs/components/breadcrumb.mdx
  apps/www/content/docs/components/button.mdx
  apps/www/content/docs/components/calendar.mdx
  apps/www/content/docs/components/card.mdx
  apps/www/content/docs/components/carousel.mdx
  apps/www/content/docs/components/chart.mdx
  apps/www/content/docs/components/checkbox.mdx
  apps/www/content/docs/components/collapsible.mdx
  apps/www/content/docs/components/command.mdx
  apps/www/content/docs/components/context-menu.mdx
  apps/www/content/docs/components/dialog.mdx
  apps/www/content/docs/components/drawer.mdx
  apps/www/content/docs/components/dropdown-menu.mdx
  apps/www/content/docs/components/form.mdx
  apps/www/content/docs/components/hover-card.mdx
  apps/www/content/docs/components/input-otp.mdx
  apps/www/content/docs/components/input.mdx
  apps/www/content/docs/components/label.mdx
  apps/www/content/docs/components/menubar.mdx
  apps/www/content/docs/components/navigation-menu.mdx
  apps/www/content/docs/components/pagination.mdx
  apps/www/content/docs/components/popover.mdx
  apps/www/content/docs/components/progress.mdx
  apps/www/content/docs/components/radio-group.mdx
  apps/www/content/docs/components/resizable.mdx
  apps/www/content/docs/components/scroll-area.mdx
  apps/www/content/docs/components/select.mdx
  apps/www/content/docs/components/separator.mdx
  apps/www/content/docs/components/sheet.mdx
  apps/www/content/docs/components/sidebar.mdx
  apps/www/content/docs/components/skeleton.mdx
  apps/www/content/docs/components/slider.mdx
  apps/www/content/docs/components/sonner.mdx
  apps/www/content/docs/components/switch.mdx
  apps/www/content/docs/components/table.mdx
  apps/www/content/docs/components/tabs.mdx
  apps/www/content/docs/components/textarea.mdx
  apps/www/content/docs/components/toast.mdx
  apps/www/content/docs/components/toggle-group.mdx
  apps/www/content/docs/components/toggle.mdx
  apps/www/content/docs/components/tooltip.mdx
  apps/www/hooks/use-config.ts
Labels: area: www, fix

#6608 docs(www): update for tailwind v4
  apps/www/components/announcement.tsx
  apps/www/config/docs.ts
  apps/www/content/docs/installation/astro.mdx
  apps/www/content/docs/installation/gatsby.mdx
  apps/www/content/docs/installation/laravel.mdx
  apps/www/content/docs/installation/next.mdx
  apps/www/content/docs/installation/vite.mdx
  apps/www/content/docs/react-19.mdx
  apps/www/content/docs/tailwind-v4.mdx
Labels: documentation, area: www, tailwind

#6501 Fix react-day-picker version when manually install Calendar component
  apps/www/content/docs/components/calendar.mdx
Labels: documentation, area: www, component: calendar

#6414 chore(deps): Upgrade `@antfu/ni` to v23.2.0
  .changeset/cool-mails-bake.md
  packages/cli/package.json
  packages/cli/src/utils/get-package-manager.ts
  packages/shadcn/package.json
  packages/shadcn/src/utils/get-package-manager.ts
  packages/shadcn/test/fixtures/project-bun-lock/bun.lock
  packages/shadcn/test/fixtures/project-bun-lock/package.json
  packages/shadcn/test/utils/get-package-manager.test.ts
  pnpm-lock.yaml
Labels: 🚀 autorelease, area: shadcn

#6617 (11/n) shadcn: filter out deprecated from --all
  .changeset/proud-snails-switch.md
  packages/shadcn/src/commands/add.ts
Labels: react 19, area: shadcn, tailwind

#6626 feat(shadcn): add internal_registryResolveItemsTree
  packages/shadcn/src/registry/api.ts
  packages/shadcn/src/registry/index.ts
Labels: area: shadcn

#6658 feat(www): update og
  apps/www/app/(app)/blocks/layout.tsx
  apps/www/app/(app)/charts/layout.tsx
  apps/www/app/(app)/colors/layout.tsx
  apps/www/app/(app)/docs/[[...slug]]/page.tsx
  apps/www/app/(app)/examples/layout.tsx
  apps/www/app/(app)/og/geist-regular-otf.json
  apps/www/app/(app)/og/geist-semibold-otf.json
  apps/www/app/(app)/og/geistmono-regular-otf.json
  apps/www/app/(app)/og/route.tsx
  apps/www/app/(app)/page.tsx
  apps/www/app/(app)/themes/layout.tsx
Labels: area: www

#6695 docs: fix TanStack logo on dark mode
  apps/www/content/docs/installation/index.mdx
Labels: area: www, automerge, framework: tanstack start

#6530 fix(cli): monorepo cn import
  .changeset/orange-papayas-relax.md
  packages/shadcn/src/utils/transformers/transform-import.ts
  packages/shadcn/test/utils/__snapshots__/transform-import.test.ts.snap
  packages/shadcn/test/utils/transform-import.test.ts
Labels: area: roadmap, area: shadcn

#6707 feat(shadcn): default to cssVariables: true. add --no-css-variables option
  .changeset/great-olives-flow.md
  packages/shadcn/src/commands/add.ts
  packages/shadcn/src/commands/init.ts
Labels: enhancement, area: shadcn

#6711 feat(shadcn): do not ask if file is identical
  packages/shadcn/.gitignore
  packages/shadcn/src/utils/updaters/update-files.ts
  packages/shadcn/test/fixtures/vite-with-tailwind/.eslintrc.cjs
  packages/shadcn/test/fixtures/vite-with-tailwind/.gitignore
  packages/shadcn/test/fixtures/vite-with-tailwind/README.md
  packages/shadcn/test/fixtures/vite-with-tailwind/components.json
  packages/shadcn/test/fixtures/vite-with-tailwind/index.html
  packages/shadcn/test/fixtures/vite-with-tailwind/package.json
  packages/shadcn/test/fixtures/vite-with-tailwind/pnpm-lock.yaml
  packages/shadcn/test/fixtures/vite-with-tailwind/public/vite.svg
  packages/shadcn/test/fixtures/vite-with-tailwind/src/App.css
  packages/shadcn/test/fixtures/vite-with-tailwind/src/App.tsx
  packages/shadcn/test/fixtures/vite-with-tailwind/src/assets/react.svg
  packages/shadcn/test/fixtures/vite-with-tailwind/src/components/ui/button.tsx
  packages/shadcn/test/fixtures/vite-with-tailwind/src/index.css
  packages/shadcn/test/fixtures/vite-with-tailwind/src/lib/utils.ts
  packages/shadcn/test/fixtures/vite-with-tailwind/src/main.tsx
  packages/shadcn/test/fixtures/vite-with-tailwind/src/vite-env.d.ts
  packages/shadcn/test/fixtures/vite-with-tailwind/tsconfig.json
  packages/shadcn/test/fixtures/vite-with-tailwind/tsconfig.node.json
  packages/shadcn/test/fixtures/vite-with-tailwind/vite.config.ts
  packages/shadcn/test/utils/updaters/update-files.test.ts
Labels: enhancement, area: shadcn

#6055 fix(select): make select placeholder text show as faded
  apps/www/public/r/styles/default/select.json
  apps/www/public/r/styles/new-york/select.json
  apps/www/registry/default/ui/select.tsx
  apps/www/registry/new-york/ui/select.tsx
Labels: component: select, area: roadmap, automerge

#6732 feat(shadcn): cache registry calls
  .changeset/green-eels-shout.md
  packages/shadcn/package.json
  packages/shadcn/src/registry/api.test.ts
  packages/shadcn/src/registry/api.ts
  pnpm-lock.yaml
Labels: enhancement, area: shadcn

#6633 fix: class name typo
  apps/v4/registry/new-york-v4/ui/sidebar.tsx
  apps/www/public/r/styles/default/sidebar.json
  apps/www/public/r/styles/new-york-v4/sidebar.json
  apps/www/public/r/styles/new-york/sidebar.json
  apps/www/registry/default/ui/sidebar.tsx
  apps/www/registry/new-york/ui/sidebar.tsx
Labels: bug, component: sidebar

#6733 fix(shadcn): check for empty css vars
  .changeset/shaggy-months-tease.md
  packages/shadcn/src/utils/updaters/update-css-vars.ts
Labels: area: shadcn

#6647 fix(docs): update monorepo docs
  templates/monorepo-next/README.md
Labels: documentation, area: www, automerge

#6765 docs(www): update tanstack start docs
  apps/www/content/docs/installation/tanstack.mdx
Labels: documentation, framework: tanstack start

#6762 fix(www): extra semicolon of --radius (#6737)
  apps/www/public/r/colors/gray.json
  apps/www/public/r/colors/neutral.json
  apps/www/public/r/colors/slate.json
  apps/www/public/r/colors/stone.json
  apps/www/public/r/colors/zinc.json
  apps/www/registry/registry-base-colors.ts
Labels: bug, area: registry, tailwind

#6766 Update the user info to use example instead
  apps/www/app/(app)/examples/mail/data.tsx
  apps/www/components/cards/data-table.tsx
  apps/www/public/r/styles/default/data-table-demo.json
  apps/www/public/r/styles/new-york/data-table-demo.json
  apps/www/registry/default/examples/data-table-demo.tsx
  apps/www/registry/new-york/examples/data-table-demo.tsx
Labels: area: www, area: examples

#6729 fix(form): avoid undefined message error as string
  apps/v4/registry/new-york-v4/ui/form.tsx
  apps/www/public/r/styles/default/form.json
  apps/www/public/r/styles/new-york/form.json
  apps/www/registry/default/ui/form.tsx
  apps/www/registry/new-york/ui/form.tsx
Labels: component: form, automerge

#6807 docs(www): update docs for vite
  apps/www/content/docs/installation/vite.mdx
Labels: documentation, area: www, framework: vite

#6809 docs(www): update all framework docs
  apps/www/config/docs.ts
  apps/www/content/docs/installation/astro.mdx
  apps/www/content/docs/installation/index.mdx
  apps/www/content/docs/installation/laravel.mdx
  apps/www/content/docs/installation/manual.mdx
  apps/www/content/docs/installation/next.mdx
  apps/www/content/docs/installation/react-router.mdx
  apps/www/content/docs/installation/remix.mdx
  apps/www/content/docs/tailwind-v4.mdx
Labels: documentation, area: www, framework: vite, framework: astro, framework: remix, framework: tanstack start, framework: next, framework: react-router, framework: laravel

#6696 fix(shadcn): Remove duplicate spaces
  apps/www/registry/default/ui/dialog.tsx
Labels: component: dialog

#6811 feat(shadcn): install routes for next-pages, laravel and react-router
  .changeset/tasty-walls-drum.md
  packages/shadcn/src/utils/frameworks.ts
  packages/shadcn/src/utils/get-project-info.ts
  packages/shadcn/src/utils/updaters/update-files.ts
  packages/shadcn/test/utils/schema/__snapshots__/registry-resolve-items-tree.test.ts.snap
  packages/shadcn/test/utils/updaters/update-files.test.ts
Labels: enhancement, area: shadcn, framework: next, framework: react-router, framework: laravel
