Repository shadcn-ui/ui, pull requests merged in 2025-04, with the labels that each got.

#7196 fix(shadcn): do not throw for empty dir
  .changeset/few-kangaroos-stare.md
  packages/shadcn/src/utils/get-project-info.ts
Labels: bug, area: shadcn

#6985 🔥 feat(fix): mark "tw-animate-css" as devDep
  .changeset/spicy-singers-try.md
  apps/v4/registry.json
  apps/v4/scripts/build-registry.mts
  apps/www/public/r/styles/new-york-v4/index.json
  packages/shadcn/src/migrations/migrate-icons.ts
  packages/shadcn/src/utils/add-components.ts
  packages/shadcn/src/utils/updaters/update-dependencies.ts
Labels: 🚀 autorelease, area: shadcn

#7220 feat(shadcn): resolve imports from anywhere
  .changeset/funny-coins-remember.md
  packages/shadcn/src/utils/updaters/update-files.ts
  packages/shadcn/test/utils/updaters/update-files.test.ts
Labels: area: shadcn
