Repository shadcn-ui/ui, pull requests merged in 2025-06, with the labels that each got.

#7618 chore(vscode): configure Tailwind IntelliSense for monorepo UI
  templates/monorepo-next/.vscode/settings.json
Labels: area: roadmap, area: monorepo

#7540 feat(shadcn): add support for updating dependencies with expo-cli for RN compatibility
  .changeset/strange-coats-flash.md
  CONTRIBUTING.md
  packages/shadcn/src/utils/frameworks.ts
  packages/shadcn/src/utils/get-project-info.ts
  packages/shadcn/src/utils/updaters/update-dependencies.ts
Labels: area: shadcn, framework: expo

#7611 fix(components): resolve duplicate id conflict in calendar-24 component
  apps/v4/public/r/styles/new-york-v4/calendar-24.json
  apps/v4/registry/new-york-v4/blocks/calendar-24.tsx
  apps/www/public/r/styles/new-york-v4/calendar-24.json
Labels: area: registry, automerge

#7609 fix(cli): correct function name typo unnsetSpreadElements to unsetSpreadElements
  .changeset/popular-vans-hammer.md
  packages/shadcn/src/utils/updaters/update-tailwind-config.ts
  packages/shadcn/test/utils/updaters/update-tailwind-config.test.ts
Labels: area: roadmap, area: shadcn
