Repository shadcn-ui/ui, pull requests merged in 2025-03, with the labels that each got.

#6782 fix(sidebar, sidebar-16): 6651 - Resolve unnecessary vertical scroll
  apps/v4/__registry__/index.tsx
  apps/v4/registry.json
  apps/v4/registry/new-york-v4/ui/sidebar.tsx
  apps/www/__registry__/index.tsx
  apps/www/public/r/styles/default/dialog.json
  apps/www/public/r/styles/default/sidebar-09.json
  apps/www/public/r/styles/default/sidebar-16.json
  apps/www/public/r/styles/default/sidebar.json
  apps/www/public/r/styles/new-york-v4/sidebar-09.json
  apps/www/public/r/styles/new-york-v4/sidebar-16.json
  apps/www/public/r/styles/new-york-v4/sidebar.json
  apps/www/public/r/styles/new-york/sidebar-09.json
  apps/www/public/r/styles/new-york/sidebar-16.json
  apps/www/public/r/styles/new-york/sidebar.json
  apps/www/registry/default/ui/sidebar.tsx
  apps/www/registry/new-york/ui/sidebar.tsx
  apps/www/registry/registry-blocks.ts
Labels: bug, area: roadmap, component: sidebar

#6827 fix(navigation-menu): 6825 - Update open state styles and remove unused classes
  apps/v4/registry/new-york-v4/ui/navigation-menu.tsx
  apps/www/public/r/styles/default/navigation-menu.json
  apps/www/public/r/styles/new-york-v4/navigation-menu.json
  apps/www/public/r/styles/new-york/navigation-menu.json
  apps/www/registry/default/ui/navigation-menu.tsx
  apps/www/registry/new-york/ui/navigation-menu.tsx
Labels: component: navigation menu, tailwind

#6850 chore: minor fixes for registry blocks
  apps/v4/components/team-switcher.tsx
  apps/v4/registry/new-york-v4/blocks/sidebar-07/components/team-switcher.tsx
  apps/v4/registry/new-york-v4/blocks/sidebar-09/components/app-sidebar.tsx
  apps/v4/registry/new-york-v4/blocks/sidebar-10/components/team-switcher.tsx
  apps/v4/registry/new-york-v4/blocks/sidebar-15/components/team-switcher.tsx
  apps/www/package.json
  apps/www/public/r/styles/default/sidebar-07.json
  apps/www/public/r/styles/default/sidebar-09.json
  apps/www/public/r/styles/default/sidebar-10.json
  apps/www/public/r/styles/default/sidebar-15.json
  apps/www/public/r/styles/default/sink.json
  apps/www/public/r/styles/default/v0-sidebar-07.json
  apps/www/public/r/styles/default/v0-sidebar-09.json
  apps/www/public/r/styles/default/v0-sidebar-10.json
  apps/www/public/r/styles/default/v0-sidebar-15.json
  apps/www/public/r/styles/new-york-v4/sidebar-07.json
  apps/www/public/r/styles/new-york-v4/sidebar-09.json
  apps/www/public/r/styles/new-york-v4/sidebar-10.json
  apps/www/public/r/styles/new-york-v4/sidebar-15.json
  apps/www/public/r/styles/new-york/sidebar-07.json
  apps/www/public/r/styles/new-york/sidebar-09.json
  apps/www/public/r/styles/new-york/sidebar-10.json
  apps/www/public/r/styles/new-york/sidebar-15.json
  apps/www/public/r/styles/new-york/sink.json
  apps/www/public/r/styles/new-york/v0-sidebar-07.json
  apps/www/public/r/styles/new-york/v0-sidebar-09.json
  apps/www/public/r/styles/new-york/v0-sidebar-10.json
  apps/www/public/r/styles/new-york/v0-sidebar-15.json
  apps/www/registry/default/blocks/sidebar-07/components/team-switcher.tsx
  apps/www/registry/default/blocks/sidebar-09/components/app-sidebar.tsx
  apps/www/registry/default/blocks/sidebar-10/components/team-switcher.tsx
  apps/www/registry/default/blocks/sidebar-15/components/team-switcher.tsx
  apps/www/registry/default/internal/sidebar-07.tsx
  apps/www/registry/default/internal/sidebar-09.tsx
  apps/www/registry/default/internal/sidebar-10.tsx
  apps/www/registry/default/internal/sidebar-15.tsx
  apps/www/registry/default/internal/sink/components/team-switcher.tsx
  apps/www/registry/new-york/blocks/sidebar-07/components/team-switcher.tsx
  apps/www/registry/new-york/blocks/sidebar-09/components/app-sidebar.tsx
  apps/www/registry/new-york/blocks/sidebar-10/components/team-switcher.tsx
  apps/www/registry/new-york/blocks/sidebar-15/components/team-switcher.tsx
  apps/www/registry/new-york/internal/sidebar-07.tsx
  apps/www/registry/new-york/internal/sidebar-09.tsx
  apps/www/registry/new-york/internal/sidebar-10.tsx
  apps/www/registry/new-york/internal/sidebar-15.tsx
  apps/www/registry/new-york/internal/sink/components/team-switcher.tsx
  pnpm-lock.yaml
Labels: area: www, area: registry

#6853 fix: chart and input-otp lint errors
  apps/v4/registry/new-york-v4/ui/chart.tsx
  apps/v4/registry/new-york-v4/ui/input-otp.tsx
  apps/www/public/r/styles/default/chart.json
  apps/www/public/r/styles/new-york-v4/chart.json
  apps/www/public/r/styles/new-york-v4/input-otp.json
  apps/www/public/r/styles/new-york/chart.json
  apps/www/registry/default/ui/chart.tsx
  apps/www/registry/new-york/ui/chart.tsx
Labels: component: input-otp, component: chart

#6854 feat(www): site updates
  apps/www/app/(app)/docs/[[...slug]]/page.tsx
  apps/www/app/(app)/page.tsx
  apps/www/components/announcement.tsx
  apps/www/components/docs-nav.tsx
  apps/www/components/mdx-components.tsx
  apps/www/components/mobile-nav.tsx
  apps/www/components/page-header.tsx
  apps/www/components/site-header.tsx
  apps/www/content/docs/index.mdx
  apps/www/content/docs/tailwind-v4.mdx
  apps/www/hooks/use-themes-config.ts
  apps/www/lib/themes.ts
  apps/www/public/examples/cards-dark.png
  apps/www/public/examples/cards-light.png
  apps/www/styles/globals.css
Labels: area: www

#6724 feat(monorepo): use tailwindcss v4 in monorepo example
  .changeset/cold-impalas-call.md
  apps/www/content/docs/components-json.mdx
  apps/www/content/docs/monorepo.mdx
  packages/shadcn/src/utils/get-project-info.ts
  packages/shadcn/src/utils/transformers/transform-import.ts
  templates/monorepo-next/apps/web/components.json
  templates/monorepo-next/apps/web/package.json
  templates/monorepo-next/apps/web/tailwind.config.ts
  templates/monorepo-next/apps/web/tsconfig.json
  templates/monorepo-next/package.json
  templates/monorepo-next/packages/eslint-config/package.json
  templates/monorepo-next/packages/ui/components.json
  templates/monorepo-next/packages/ui/package.json
  templates/monorepo-next/packages/ui/postcss.config.mjs
  templates/monorepo-next/packages/ui/src/components/button.tsx
  templates/monorepo-next/packages/ui/src/styles/globals.css
  templates/monorepo-next/packages/ui/tailwind.config.ts
  templates/monorepo-next/packages/ui/tsconfig.json
  templates/monorepo-next/pnpm-lock.yaml
Labels: 🚀 autorelease, area: roadmap, react 19, tailwind, area: monorepo

#6863 feat(shadcn): add --template flag
  .changeset/metal-queens-hang.md
  packages/shadcn/src/commands/add.ts
  packages/shadcn/src/commands/init.ts
  packages/shadcn/src/utils/create-project.test.ts
  packages/shadcn/src/utils/create-project.ts
Labels: enhancement, area: shadcn

#4183 use type import in react-hook-form
  apps/v4/registry/new-york-v4/ui/form.tsx
  apps/www/public/r/styles/default/form.json
  apps/www/public/r/styles/new-york-v4/form.json
  apps/www/public/r/styles/new-york/form.json
  apps/www/registry/default/ui/form.tsx
  apps/www/registry/new-york/ui/form.tsx
Labels: component: form

#6679 fix(dropdown-menu): make dropdown scrollable if height is limited
  apps/v4/registry/new-york-v4/ui/dropdown-menu.tsx
  apps/www/public/r/styles/default/dropdown-menu.json
  apps/www/public/r/styles/new-york-v4/dropdown-menu.json
  apps/www/public/r/styles/new-york/dropdown-menu.json
  apps/www/registry/default/ui/dropdown-menu.tsx
  apps/www/registry/new-york/ui/dropdown-menu.tsx
Labels: enhancement, component: dropdown menu

#6841 Add @radix-ui/react-slot dependency to badge registry entry
  apps/www/registry/registry-ui.ts
Labels: automerge, component: badge

#6897 docs(www): fix typo in site-header.tsx
  apps/www/registry/new-york/blocks/sidebar-16/components/site-header.tsx
Labels: area: www, automerge

#6682 fix(context-menu): make context menu scrollable if height is limited
  apps/v4/registry/new-york-v4/ui/context-menu.tsx
  apps/www/public/r/styles/default/context-menu.json
  apps/www/public/r/styles/new-york-v4/context-menu.json
  apps/www/public/r/styles/new-york/context-menu.json
  apps/www/registry/default/ui/context-menu.tsx
  apps/www/registry/new-york/ui/context-menu.tsx
Labels: component: context menu, area: roadmap

#6681 fix(select): make select content scrollable if height is limited
  apps/v4/registry/new-york-v4/ui/select.tsx
  apps/www/public/r/styles/default/select.json
  apps/www/public/r/styles/new-york-v4/select.json
  apps/www/public/r/styles/new-york/select.json
  apps/www/registry/default/ui/select.tsx
  apps/www/registry/new-york/ui/select.tsx
Labels: component: select, area: roadmap, automerge

#6918 docs: add dark mode changelog
  apps/www/content/docs/tailwind-v4.mdx
  apps/www/content/docs/theming.mdx
Labels: documentation, area: www

#6913 fix(navigation-menu v4): 6888 - Remove "use client" directive
  apps/v4/components/navigation-menu-demo.tsx
  apps/v4/registry/new-york-v4/ui/navigation-menu.tsx
  apps/www/public/r/styles/new-york-v4/navigation-menu.json
Labels: component: navigation menu

#6945 feat(components): add origin-aware animations
  apps/v4/__registry__/index.tsx
  apps/v4/registry/new-york-v4/ui/context-menu.tsx
  apps/v4/registry/new-york-v4/ui/dropdown-menu.tsx
  apps/v4/registry/new-york-v4/ui/hover-card.tsx
  apps/v4/registry/new-york-v4/ui/menubar.tsx
  apps/v4/registry/new-york-v4/ui/popover.tsx
  apps/v4/registry/new-york-v4/ui/select.tsx
  apps/v4/registry/new-york-v4/ui/tooltip.tsx
  apps/www/__registry__/icons.tsx
  apps/www/public/r/styles/default/context-menu.json
  apps/www/public/r/styles/default/dropdown-menu.json
  apps/www/public/r/styles/default/hover-card.json
  apps/www/public/r/styles/default/menubar.json
  apps/www/public/r/styles/default/popover.json
  apps/www/public/r/styles/default/select.json
  apps/www/public/r/styles/default/sidebar.json
  apps/www/public/r/styles/default/tooltip.json
  apps/www/public/r/styles/new-york-v4/context-menu.json
  apps/www/public/r/styles/new-york-v4/dropdown-menu.json
  apps/www/public/r/styles/new-york-v4/hover-card.json
  apps/www/public/r/styles/new-york-v4/menubar.json
  apps/www/public/r/styles/new-york-v4/popover.json
  apps/www/public/r/styles/new-york-v4/select.json
  apps/www/public/r/styles/new-york-v4/sidebar.json
  apps/www/public/r/styles/new-york-v4/tooltip.json
  apps/www/public/r/styles/new-york/context-menu.json
  apps/www/public/r/styles/new-york/dropdown-menu.json
  apps/www/public/r/styles/new-york/hover-card.json
  apps/www/public/r/styles/new-york/menubar.json
  apps/www/public/r/styles/new-york/popover.json
  apps/www/public/r/styles/new-york/select.json
  apps/www/public/r/styles/new-york/sidebar.json
  apps/www/public/r/styles/new-york/tooltip.json
  apps/www/registry/default/ui/context-menu.tsx
  apps/www/registry/default/ui/dropdown-menu.tsx
  apps/www/registry/default/ui/hover-card.tsx
  apps/www/registry/default/ui/menubar.tsx
  apps/www/registry/default/ui/popover.tsx
  apps/www/registry/default/ui/select.tsx
  apps/www/registry/default/ui/tooltip.tsx
  apps/www/registry/new-york/ui/context-menu.tsx
  apps/www/registry/new-york/ui/dropdown-menu.tsx
  apps/www/registry/new-york/ui/hover-card.tsx
  apps/www/registry/new-york/ui/menubar.tsx
  apps/www/registry/new-york/ui/popover.tsx
  apps/www/registry/new-york/ui/select.tsx
  apps/www/registry/new-york/ui/tooltip.tsx
Labels: component: context menu, component: dropdown menu, component: hover card, component: menubar, component: popover, component: select, component: tooltip, automerge

#6968 feat(shadcn): replace tailwindcss-animate with tw-animate-css
  .changeset/large-timers-kneel.md
  apps/v4/app/favicon.ico
  apps/v4/app/globals.css
  apps/v4/package.json
  apps/v4/registry.json
  apps/v4/scripts/build-registry.mts
  apps/www/content/docs/installation/manual.mdx
  apps/www/public/r/styles/new-york-v4/index.json
  packages/shadcn/src/utils/updaters/update-css-vars.ts
  packages/shadcn/test/utils/updaters/update-css-vars.test.ts
  pnpm-lock.yaml
  templates/monorepo-next/packages/ui/package.json
  templates/monorepo-next/packages/ui/src/styles/globals.css
  templates/monorepo-next/pnpm-lock.yaml
Labels: tailwind

#6955 fix(v4): card - css syntax warning in tailwind v4 and vite
  apps/v4/registry/new-york-v4/ui/card.tsx
  apps/www/public/r/styles/new-york-v4/card.json
Labels: component: card, automerge

#6965 fix: allow silent mode with npm on React 19
  .changeset/curly-impalas-give.md
  packages/shadcn/src/utils/updaters/update-dependencies.ts
Labels: bug, area: shadcn

#7016 feat(shadcn): registry updates
  .changeset/warm-fans-protect.md
  apps/www/content/docs/registry/faq.mdx
  apps/www/content/docs/registry/registry-item-json.mdx
  apps/www/content/docs/theming.mdx
  apps/www/public/schema/registry-item.json
  packages/shadcn/src/commands/init.ts
  packages/shadcn/src/registry/api.ts
  packages/shadcn/src/registry/schema.ts
  packages/shadcn/src/utils/add-components.ts
  packages/shadcn/src/utils/updaters/update-css-vars.ts
  packages/shadcn/test/utils/schema/__snapshots__/registry-resolve-items-tree.test.ts.snap
  packages/shadcn/test/utils/updaters/update-css-vars.test.ts
Labels: area: shadcn

#7030 fix(v4): minor focus styles
  apps/v4/registry/new-york-v4/ui/badge.tsx
  apps/v4/registry/new-york-v4/ui/navigation-menu.tsx
  apps/v4/registry/new-york-v4/ui/scroll-area.tsx
  apps/www/public/r/styles/new-york-v4/badge.json
  apps/www/public/r/styles/new-york-v4/navigation-menu.json
  apps/www/public/r/styles/new-york-v4/scroll-area.json
Labels: tailwind
